<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ListViewDragDropManager" version="1.2.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net48" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net48" />
  <package id="WindowsAPICodePack" version="1.1.2" targetFramework="net48" />
</packages>